#!/usr/bin/env python

PACKAGE = 'vswarm'
LEVEL = 0

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator
from dynamic_reconfigure.parameter_generator_catkin import double_t, bool_t

gen = ParameterGenerator()

gen.add(name='acceptance_radius', paramtype=double_t, level=LEVEL,
        description='Acceptance radius for waypoints [m]',
        default=3.0, min=0.0, max=10.0)

gen.add(name='reversed', paramtype=bool_t, level=LEVEL,
        description='If true, navigate through waypoints in reversed order [bool]',
        default=False)

exit(gen.generate(PACKAGE, 'migration_node', 'MigrationNode'))
