#!/usr/bin/env python3

PACKAGE = 'vswarm'
LEVEL = 0

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator
from dynamic_reconfigure.parameter_generator_catkin import double_t

gen = ParameterGenerator()

gen.add(name='object_width', paramtype=double_t, level=LEVEL,
        description='Physical width of the detected object [m]',
        default=0.5, min=0.0, max=10.0)
gen.add(name='object_height', paramtype=double_t, level=LEVEL,
        description='Physical height of the detected object [m]',
        default=0.5, min=0.0, max=10.0)
gen.add(name='object_depth', paramtype=double_t, level=LEVEL,
        description='Physical depth of the detected object [m]',
        default=0.5, min=0.0, max=10.0)

exit(gen.generate(PACKAGE, 'relative_localization_node', 'RelativeLocalizationNode'))
