<?xml version="1.0"?>

<model>
  <name>FLIR Firefly S</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fabian Schilling</name>
    <email>fabian.schilling@me.com</email>
  </author>

  <description>
    A FLIR Firefly S camera model.
  </description>
</model>
